
.loginBtn{
    width:200px;
    height: 40px;
    font-size: 15px;
    background-color:greenyellow;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.registerBtn{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 43%;
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    cursor: pointer;
    border-radius: 5px;
    border: none;

}